html {
  font-family: "Kumbh Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 6rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
  overflow: auto;
  background-repeat: no-repeat;
  color: #1d1e35;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

.card {
  margin: 2rem 1.5rem;
  padding: 2rem 0;
  background-color: white;
  border-radius: 2rem;
  max-width: 56rem;
  -webkit-box-shadow: 2px 2px 50px rbga(0, 0, 0, 0.35);
          box-shadow: 2px 2px 50px rbga(0, 0, 0, 0.35);
  background-image: url(/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: fill;
}

.card_box {
  display: none;
}

.card_image {
  position: relative;
}

.card_image img {
  position: absolute;
  top: -8.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  max-width: 15rem;
  height: auto;
  width: 100%;
}

.faqText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 1.5rem 2rem 1.5rem;
}

.accordion_item {
  font-size: .87rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e7e7e9;
  padding-top: 1rem;
}

.accordion_item h2 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.accordion_content {
  font-size: .75rem;
  line-height: 1.125rem;
  margin-bottom: .5rem;
}

.accordion_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
  padding: 0;
  font-size: .875rem;
  font-family: "Kumbh Sans", sans-serif;
  margin-bottom: .5rem;
  margin-top: 0;
  text-align: left;
  width: 100%;
}

.accordion_question::after {
  content: '';
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 1rem;
  height: .625rem;
}

.divide {
  margin: 15px 0px;
  border-top: 1px solid #e7e7e9;
}

.accordion_collapse {
  display: none;
}

@media (min-width: 900px) {
  body {
    padding: 0;
    color: #1d1e35;
  }
  h1, h2, h3 {
    margin-top: 0;
  }
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 6rem auto;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-size: 25rem;
    background-position: -13% center;
    padding: 4.375 6.25rem 4.375rem 0;
  }
  .card_box {
    display: block;
    position: absolute;
    left: 0;
    top: 57%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  .card_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    overflow: hidden;
  }
  .card_image img {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    top: auto;
    left: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: 25rem;
  }
  .faqText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1rem;
    font-family: "Kumbh Sans", sans-serif;
    padding: 2rem 6rem 2rem 0;
  }
  .accordion_content {
    font-size: .75rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    display: none;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .accordion_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    color: "Kumbh Sans", sans-serif;
    border-bottom: 1px solid #e7e7e9;
    padding-top: 1rem;
  }
  .accordion_item h2 {
    margin-bottom: 0;
  }
  .accordion_question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    background: transparent;
    padding: 0;
    font-size: .875rem;
    font-family: "Kumbh Sans", sans-serif;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
  }
  .accordion_question:hover {
    color: #f47c57;
  }
  .illustration, .faqText {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */